-{% extends "layout.html" %}

{% block heading %}
<center>
    <h1>View Insights</h1>
</center>
{% endblock %}

{% block content %}
<form action="/custom_insights" onsubmit="return compare();" method="post">
    <div name = "aggregate">
        <div>
            <div>Start:</div>
            <div><input type="date" id="startDate" name="startDate" required></input></div>
        </div>

        <div>
            <div>End:</div>
            <div><input type="date" id="endDate" name="endDate" required></input></div>
        </div>
        <br><br>
        <input type="submit" value="Submit">
    </div>

</form>

<table width="100%">
    <caption>Bitcoins sold</caption>
    <tr>
    <th>No. of users</th>
    <th>No. of bitcoins</th>
    <th>Transaction value</th>
    </tr>
    {% for my_item in sell_items %}
    <tr>
    <td>{{my_item.CLIENT_ID}}</td>
    <td>{{my_item.AMOUNT}}</td>
    <td>{{my_item.CLIENT_ID}}</td>
    </tr>
    {% endfor %}
</table>

<br><br>

<table width="100%">
    <caption>Bitcoins bought</caption>
    <tr>
    <th>No. of users</th>
    <th>No. of bitcoins</th>
    <th>Transaction value</th>
    </tr>
    {% for my_item in buy_items %}
    <tr>
    <td>{{my_item.CLIENT_ID}}</td>
    <td>{{my_item.AMOUNT}}</td>
    <td>{{my_item.CLIENT_ID}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}

{% block script %}
<script>
function compare()
{
    var startDt = document.getElementById("startDate").value;
    var endDt = document.getElementById("endDate").value;
    console.log(startDt)
    console.log(endDt)
    if( (new Date(startDt).getTime() < new Date(endDt).getTime()))
    {
        return true
    }
    else{
        alert("Start date must be less than end date.");
        return false
    }
}
</script>
{% endblock %}