-{% extends "layout.html" %}

{% block heading %}
<center>
    <h1>View Insights</h1>
</center>
{% endblock %}

{% block content %}
<section class="hero is-success is-fullheight">
    <div class="hero-body">
      <div class="container">
          <center>
    <form action="/insights" method="post">
        <label for="insights">Select the time frame of transactions:</label>

        <select name="insights" id="cars">
        <option value="day">Day</option>
        <option value="month">Month</option>
        <option value="week">Week</option>
        <option value="custom">Custom</option>
        </select>
        <br><br>
        <input type="submit" value="Submit">
    </form>

    <br><br><br><br>



    <h3>Bitcoins sold {{timeframe}} </h3>
    <!-- <table width="100%"> -->
    <table class="table">
    <thead>
        <tr>
        <th  scope="col">No. of transactions</th>
        <th scope="col">No. of bitcoins</th>
        <th scope="col">Transaction value</th>
        </tr>
    </thead>
    <tbody>
        {% for my_item in sell_items %}
        <tr>
        <td>{{my_item.total_no_of_txns}}</td>
        <td>{{my_item.total_bitcoins}}</td>
        <td>{{my_item.sell_txn_value}}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    
    <br><br><br><br>
    
    <h3>Bitcoins bought {{timeframe}} </h3>
    <!-- <table width="100%"> -->
        <table class="table">
        <tr>
        <th>No. of transaction</th>
        <th>No. of bitcoins</th>
        <th>Transaction value</th>
        </tr>
        {% for my_item in buy_items %}
        <tr>
        <td>{{my_item.total_no_of_txns}}</td>
        <td>{{my_item.total_bitcoins}}</td>
        <td>{{my_item.buy_txn_value}}</td>
        </tr>
        {% endfor %}
    </table>
    </center>

</div>
</div>
</section>
{% endblock %}