{% extends "layout.html" %}



{% block content %}

{% block title %}
<section class="hero is-success is-fullheight">
      <div class="hero-body">
        <div class="container">
            <center>
                <h1>Add Meny to Your Wallet</h1>
            </center>
            {% endblock %}


    <form action="/addToWallet" method="post">
        <div class="form-group">
            <input class="form-control" name="amount" placeholder="Amount to Add into your Wallet" type="number"  min="1" required>
        </div>
        <button class="btn btn-primary" type="submit">Add</button>
    </form>
            </div>
      </div>
    </section>

{% endblock %}