{% extends "layout.html" %}



{% block content %}
<section class="hero is-success is-fullheight">
      <div class="hero-body">
        <div class="container">
            {% block title %}
                <center>
                    <h1>Buy BitCoins</h1>
                </center>
            {% endblock %}
    <center>
        {% if error %}
        <font color="red">{{error}}</font>
        {% endif %}
    </center>

    <form action="/buy" method="post">
        <div class="form-group">
            <input class="form-control" name="bitcoins" placeholder="No of BitCoins" type="number"  min="1" required>
        </div>
        <p>Please select the commission type:</p>
        <input type="radio" id="fiat" name="commission" value="fiat" required="required"><label for="fiat">Fiat</label><br>
        <input type="radio" id="crypto" name="commission" value="crypto"><label for="crypt">Crypto</label><br>

        <button class="btn btn-primary" type="submit">Buy</button>
    </form>
        </div>
      </div>
    </section>

{% endblock %}