{% extends "layout.html" %}

{% block heading %}
<center>
    <h1>Client Details</h1>
</center>
{% endblock %}

{% block content %}

    <form action="/client_info" method="post">
        <div class="form-group">
            <input class="form-control" name="Client_fName" placeholder="Client First Name" type="text">
            <input class="form-control" name="Client_lName" placeholder="Client Last Name" type="text">
            <input class="form-control" name="Client_uName" placeholder="Client User Name" type="text">
            <input class="form-control" name="Client_Street" placeholder="Client Street" type="text">
            <input class="form-control" name="Client_City" placeholder="Client City" type="text">
            <input class="form-control" name="Client_State" placeholder="Client State" type="text">
            <input class="form-control" name="Client_Zip" placeholder="Client Zip" type="text">
            <button class="btn btn-primary" type="submit" >Search</button>
        </div>
        {% if err %}
                <td>{{err}}</td>
                {%else%}
        <div class="form-group">
            <table width="100%">
                <tr>
                <th>Client User Name</th>
                    <th>Client First Name</th>
                    <th>Client Last Name</th>
                <th>Client Address STREET</th>
                    <th>Client Address CITY</th>
                    <th>Client Address STATE</th>
                    <th>Client Address ZIP</th>
                <th>Client Membership</th>
                </tr>
                {% for my_item in t %}

                <tr>
                <td>{{my_item.USERNAME}}</td>
                    <td>{{my_item.FNAME}}</td>
                    <td>{{my_item.LNAME}}</td>
                   <td>{{my_item.STREET}}</td>
                    <td>{{my_item.CITY}}</td>
                    <td>{{my_item.STATE}}</td>
                <td>{{my_item.ZIP}}</td>
                     {% if my_item.MEMBERSHIP == 's' %}
                <td>Silver</td>
                    {% else %}
                    <td> Gold</td>
                {% endif %}


                </tr>

                {% endfor %}

            </table>

        </div>
{% endif %}
    </form>


{% endblock %}