{%extends "layout.html" %}

{% block title %}
    <center>
      <h1>
    Your Profile
    </h1>
    </center>
{% endblock %}


{% block content %}
    <section class="hero is-success is-fullheight">
      <div class="hero-body">
        <div class="container">

    <h1><center>Your Transaction History</center><br></h1>

       <table class="table">
      <thead>
        <tr>
          <th scope="col">DateTime</th>
          <th scope="col"># of BitCoins</th>
          <th scope="col">Price per BitCoin</th>
        </tr>
      </thead>
      <tbody>
          {% for i in previous_transactions %}
        <tr>
          <td>{{ i["DATE_TIME"].upper() }}</th>
          <td>{{ i["NUMBER_OF_BITCOINS"] }}</td>
          <td>${{  "%.2f"|format(i["PRICE"]) }}</td>
          {% endfor %}
        </tr>
      </tbody>
    </table>
        </div>
      </div>
    </section>
{% endblock %}