{%extends "layout.html" %}

{% block title %}
    <center>
      <h1>
    Your Profile
    </h1>
    </center>
{% endblock %}


{% block content %}
    <section class="hero is-success is-fullheight">
      <div class="hero-body">
        <div class="container">

    <h1><center>Your Bitcoin Transaction History</center><br></h1>

       <table class="table">
      <thead>
        <tr>
          <th scope="col">DateTime</th>
          <th scope="col"># of BitCoins</th>
          <th scope="col">Price per BitCoin</th>
        </tr>
      </thead>
      <tbody>
          {% for i in previous_bitcoin_transactions %}
        <tr>
          <td>{{ i["DATE_TIME"].upper() }}</th>
          <td>{{ i["NUMBER_OF_BITCOINS"] }}</td>
          <td>${{  "%.2f"|format(i["PRICE"]) }}</td>
          {% endfor %}
        </tr>
      </tbody>
    </table>

    {% if previous_moneyPayment_transactions %}
    <h2><center>Your Money Payment Transaction History</center><br></h2>

       <table class="table">
      <thead>
        <tr>
          <th scope="col">DateTime</th>
          <th scope="col">Trader ID</th>
          <th scope="col">Amount</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
          {% for i in previous_moneyPayment_transactions %}
        <tr>
          <td>{{ i["DATE_TIME"].upper() }}</th>
          <td>{{ i["TRADER_ID"] }}</td>
          <td>${{"%.2f"|format(i["AMOUNT"]) }}</td>
          <td>{{ 'accept' if i["FINAL_STATUS"] == '1' else 'pending' if i["FINAL_STATUS"] == '0' else 'decline' }}</td>
          {% endfor %}
        </tr>
      </tbody>
    </table>
    {% endif %}
        </div>
      </div>
    </section>
{% endblock %}