<!doctype HTML>
    <html lang="en">
      <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Required CDNs for Fonts and Bootstrap -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet'>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"                               integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <!-- Required Linking to the CSS file main.css we created -->
        <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
     </head>

     <body>

        <header>
            <h1 class="title"><b>BitCoins App</b></h1>
            <!-- <h1 class="name"><b>Hi, {{g.username}}!</b></h1> -->
            <ul class="name nav navbar-nav ml-auto">
                {% if g.user %}
                    <li><a href="{{ url_for('logout') }}"><font color="#000000">Logout</font></a></li>
                {% endif %}
        </header>

        <div class="container-fluid">

            <ul class="nav navbar-nav navbar-right">
                {% if g.user %}
                  {% if g.role =='trader' %}
                    <li><a href="{{ url_for('bitinfo') }}">BitInfo</a></li>
                    <li><a href="{{url_for('buy')}}">Buy</a></li>
                    <li><a href="#">View Requests</a></li>
                  {% elif  g.role =='client' %}
                    <li><a href="{{ url_for('profile') }}">Portfolio</a></li>
                    <li><a href="{{ url_for('bitinfo') }}">BitInfo</a></li>
                    <li><a href="{{url_for('buy')}}">Buy</a></li>
                    <li><a href="{{url_for('sell')}}">Sell</a></li>
                    <li><a href="{{url_for('add_to_wallet')}}">Add to Wallet</a></li>
                    <li><a href="{{url_for('request_a_trader')}}">Request a Trader</a></li>
                    <li><a href="{{url_for('pay_to_trader')}}">Pay a Trader</a></li>
                    <li><a href="{{ url_for('history') }}">Transaction History</a></li>
                  {% elif  g.role =='admin' %}
                    <li><a href="{{ url_for('bitinfo') }}">BitInfo</a></li>
                {% endif %}
                  <li><a><i class="fa fa-user"></i>  </a></li>
                {% else %}
                  <li><a href="{{ url_for('signup') }}">Register</a></li>
                  <li><a href="{{ url_for('login') }}">Login</a></li>
                {% endif %}
            </ul>

            {% block heading %}
            {% endblock %}

            {% block content %}
            {% endblock %}
        </div>

        <!-- Other required CDNs -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

      </body>
</html>