{%extends "layout.html" %}

{% block title %}
    <center>
      <h1>
    Your Profile
    </h1>
    </center>
{% endblock %}


{% block content %}
    <section class="hero is-success is-fullheight">
      <div class="hero-body">
        <div class="container">
     

    <h1><center>Your Portfolio</center><br></h1>

    <table class="table">
      <thead scope='col'>
        <tr>
          <th scope="row"># of BitCoins</th>
          <th scope="row">TOTAL</th>
        </tr>
      </thead>
      <tbody>
          <tr>
              <td>{{ total_bitcoins }}</td>
              <td>${{ "%.2f"|format(total)}}</td>
        </tr>
          <tr>
            <td>CASH</td>
            <td>${{ "%.2f"|format(current_cash) }}</td>
          </tr>
          <tr>
            <td></td>
            <td>${{ "%.2f"|format((current_cash + total)) }}</td>
          </tr>
      </tbody>
    </table>


        </div>
      </div>
    </section>
{% endblock %}